<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-image">
                  <span class="card-title">Sign In</span>
                </div>
                <form class="col s12 white" #AddMissionForm="ngForm">
                    <div class="row">
                      <div class="input-field col s6">
                          <input type="text" class="validate" name="dateDepart" #dateDepart="ngModel" [(ngModel)]="missionModel.dateDepart" required>
                          <label>Date Depart</label>
                      </div>
                      <div class="input-field col s6">
                        <input type="text" class="validate" name="dateRetour" #dateDepart="ngModel" [(ngModel)]="missionModel.dateRetour" required>
                        <label>Date Retour</label>
                    </div>
                      <div class="input-field col s6">
                          <input type="text" class="validate" name="ville" [(ngModel)]="destinationModel.ville" required>
                          <label>Ville </label>
                      </div>
                      <div class="input-field col s6">
                        <input type="text" class="validate" name="codePostale" [(ngModel)]="destinationModel.codePostale" required>
                        <label>Code Postale </label>
                    </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn-large btn-submit" (click)="addMission()">submit</button>
                        </div>
                    </div>
                </form>
              </div>
            </div> 
        </div>
    </div>

