<div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <!--<div> <a href="#"><img src="https://s9.postimg.org/tupxkvfj3/image.jpg"></a></div>-->
          </div> <!-- slider-product.// -->
          <div class="img-small-wrap">
            <div class="item-gallery"> <img  style="width: 100%; height: 100%;" src="assets/disque.png"> </div>
         </div> <!-- slider-nav.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
  
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{user.nom}}</h3>
  
         <!-- price-detail-wrap .// -->
         <dl class="item-property">
            <dt>Prenom</dt>
            <dd><p>{{user.prenom}} </p></dd>
          </dl>
          <dl class="item-property">
            <dt>Email</dt>
            <dd><p>{{user.email}} </p></dd>
          </dl>
          
    
  
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
  
    </div> <!-- row.// -->
  </div>